body {
    background-image: url('https://a-static.besthdwallpaper.com/clan-wars-clash-royale-supercell-mobile-video-game-wallpaper-3554x1999-73077_53.jpg');
    background-size: cover; /* Para ajustar la imagen al tamaño de la ventana del navegador */
    background-repeat: no-repeat; /* Para evitar que la imagen se repita */
    min-height: 100vh; /* Asegura que el fondo cubra toda la altura visible del viewport */
    margin: 0;
    width: 100%;

    
  }
.form-cont {
    background: linear-gradient(to bottom, violet, white);
    border: solid 11% blueviolet;
    border-radius: 10%;
    width: fit-content; /* Ajustar al contenido */
    text-align: left;
    padding: 1%; /* Agregar un pequeño espaciado al contenido */
  }

  
.form-input-cont{
    margin:1%;
}
p.error-message {
    font-size: small;
    color: red;
  }
input[type='submit'] {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    padding: 10px; /* Añade un espaciado interno al botón */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    text-align: center; /* Alinea el texto (y contenido) al centro */
  }

