.de-main-cont{
    text-align: center;

}

.de-cont {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    background: linear-gradient(to bottom right, #ffffff, #cccccc);
  }
  
.este {
    max-width: 200px; /* Ajusta el tamaño máximo de la imagen según tus necesidades */
    border: 1px solid #cccccc; /* Ajusta el grosor y el color del borde según tus preferencias */
    float: left; 
  }
.img-detail img{
max-width: 60%;
}
.element {
  display: block;
}
.custom-list {
  list-style: none;
  padding: 0;
}

.custom-list > div {
  margin: 0;
}

.custom-list ul {
  margin: 0;
}

.custom-list li::before {
  content: "•"; /* Usamos un punto como viñeta, puedes personalizarlo como desees */
  margin-right: 5px; /* Espacio entre la viñeta y el texto */
}
  