.de-main-cont{
    text-align: center;

}

.de-cont {
    
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    background: linear-gradient(hsl(245deg 44.8% 46.9% / 49%), hsl(310.67deg 44.8% 46.9% / 80%));
  }
  
.este {
    max-width: 200px; /* Ajusta el tamaño máximo de la imagen según tus necesidades */
    border: 1px solid #cccccc; /* Ajusta el grosor y el color del borde según tus preferencias */
    float: left; 
  }
.img-detail img{
max-width: 60%;
border-radius: 10%;
}
.element {
  display: block;
}
.custom-list {
  list-style: none;
  padding: 0;
}

.custom-list > div {
  margin: 0;
}

.custom-list ul {
  margin: 0;
}

.custom-list li::before {
  content: "•"; /* Usamos un punto como viñeta, puedes personalizarlo como desees */
  margin-right: 5px; /* Espacio entre la viñeta y el texto */
}
.alinear{
  display: inline-flex;
  align-items: center;
  text-align: center; 
 
}
.alinear h5{
  margin-left: 20px;
  margin-right: 20px;
}
.parrafo{
  text-align: justify;
  margin: 10%;
  display: 80%;
}